h1 {
    font-family: "Trebuchet MS" ;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 55px 15px 15px 15px;
}

h2 {
    font-family: "Trebuchet MS";
    font-style: italic;
    font-size: 24px;
    padding: 5px 60px;
    display: inline-block;
    position: absolute;    
    top: 0px;
    right: 0px;
    margin: 0px;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
}

#chicken h2 {
    color: black;
    background: pink;
}

#beef h2 {
    color: white;
    background: red;
}

#sushi h2 {
    color: black;
    background-color: burlywood;
}

.menu-description {
    box-sizing: border-box;
    background-color: lightslategray;
    border: 1px solid black;
    padding: 0px;
    position: relative;
    height: 250px;
}

.container {
    float: left;
}

.menu-description {
    margin: 10px 10px;
    width: auto;
}


/* Media Queries DESKTOP: 992px and above */
@media (min-width: 992px) {
    .container {
        width: 33%;
    }
}


/* Media Queries TABLET: between 768px and 991px, inclusively */
@media (min-width: 768px) and (max-width: 991px) {
    #chicken {
        width: 50%;
    }

    #beef {
        float: right;
        width: 50%;
        clear: right;
    }

    #sushi {
        width: 100%;
    }
}


/* Media Queries MOBILE: equal 767px or less */
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}
