body {
    font-size: 16px;
    color: #fff;
    background-color: lightblue;
    font-family: 'Oxygen', sans-serif;
}

hr {
    width: 70%;
}

section {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    height: 1000px;
    margin-bottom: 30px;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
}

#header-nav {
    background-color: gainsboro;
    border-radius: 0;
    height: 70px;
}

#collapsable-nav {
    margin-top: 0px;
}

#nav-list {
    text-align: center;
    background: grey;
    margin-top: 0px;
}

#nav-list span {
    color: black;
}

#nav-list li {
    border: 1px solid black;
    border-width: 0 0 2px 0;
}

.navbar-collapse {
    border-top: 0;
}

#nav-list a:hover {
    background: yellow;
}

.navbar-header button.navbar-toggle {
    clear: right;
}

.navbar-toggle {
    background-color: white;
    margin-top: 18px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(32, 32, 32);
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}


#section-chicken p {
    margin: 20px 40px 25px;
    color: grey;

}

h3 {
    color: black;
    font-weight: 900;
    margin-top: 15px;
}

h4 {
    font-size: 0.9em;
}


